* {
	box-sizing: border-box;
}
body {
    background-image: url($backgroundImage);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $background-color;
	color: $white-color;
	display: flex;
	font-family: $fontFamily;
	font-size: 1.4em;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

.container {
	margin: auto;
	max-width: 100%;

	// width: 1200px;
}

.flex {
	display: flex;
	margin: 100px 0;
	justify-content: center;
}

.flex > div:first-child {
	flex: 0.4;
	margin-right: 20px;
}

.flex > div:last-child {
	flex: 0.4;
	margin-left: 20px;
}

button {
	background-color: $white-color;
	border-radius: 50px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	color: $background-color;
	font-size: 24px;
	padding: 20px 80px;
}