.social {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	list-style-type: none;
	margin-right: 40px;
}

.social a {
	border-radius: 50%;
	border: 2px solid $white-color;
	color: $white-color;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	text-decoration: none;
}