@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');
$body-color: hsl(257, 40%, 49%);
$white-color: #fff;
$background-color:hsl(257, 40%, 49%);
$fontFamily: 'Open sans', sans-serif;
$backgroundImage: 'https://raw.githubusercontent.com/FranciscoImanolSuarez/Huddle-landing-page/master/src/assets/static/bg-desktop.svg'